.form{
  height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: #fffffff3;
  align-items: center;
  justify-content: space-around;
  border: 2px solid grey;
  border-radius: 10px;
}

.form img{
  height: 100px;
  width: 150px;
}