*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242424;
}


.counter {
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ff4957;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.counter h1{
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 35px;
}

.btns{
  display: flex;
  gap: 20px;
}

.btns button{
  padding: 7px 15px;
  border: none;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}
